.admin-interface {
  .show-current-style .btn.preview-watermark {
    margin-bottom: 0.5em !important;
  }

  [data-setting="watermark_blend_mode"],
  [data-setting="watermark_qrcode_min_version"] {
    details[open] > summary:first-of-type ~ *,
    details.open > summary:first-of-type ~ * {
      display: inline-block;
    }

    .setting-value h2 {
      color: var(--primary-medium);
    }
  }

  .watermark-preview {
    &__container {
      position: absolute;
      left: 0;
      display: none;
      bottom: 0;
      z-index: 1;

      img {
        position: relative;
        width: 100%;
        height: auto;
      }

      transition: top 0.2s ease-in-out;

      &.dragging {
        transition: none;
      }
    }

    &__header {
      border: 1px solid var(--primary-300);
      background: var(--secondary);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 0.6rem;
      font-weight: bold;
      user-select: none;

      &:hover,
      &:focus {
        cursor: move;
      }

      .spinner {
        position: absolute;
        right: calc(3 * (16px + (0.65em * 2) + 2 * 0.3rem));
        background: var(--secondary);
      }
    }

    &__actions {
      display: flex;
      gap: 0.3rem;
    }

    &__resizable {
      resize: horizontal;
      overflow: hidden;
      display: inline-block;
      max-width: 100%;
      position: relative;

      img {
        user-select: none;
        pointer-events: none;
      }
    }
  }
}
